body{
    margin: 0;
    padding: 0;
    font-family: 'Skia', sans-serif;
    background-color: #FBF9F9;
}
.borderbutton a{
    color: black;
}
.borderbuttonOne{
    border: ridge 5px black;
    width: 150px;
    height: 40px;
}
.stock{
    height: 400px;
}
.etiquettes{
    height: 200px;
}
.category{
    background-color: white;
    height: 200px;
}
.scan{
    height: 140px;
}
.checkbox{
    border-right: ridge 5px black;
}
.question a{
  color: black;
}
.question a:hover{
  text-decoration: none;
  color: black;
}
.categoryfaq{
  background-color: black;
  height: 100px;
}

.faq{
  background-image: url(../img/faq.jpg);
  background-size: 640px;
  height: 400px;
}


.end{
  margin-top: 370px;
  height: 90px;
}

nav a{
    color: black;
}
nav a:hover{
  text-decoration: none;
  color: black;
}
.body{
  background-image: url(../img/faq.jpg);
  background-size: 1440px;
}
