header{
    background-color: #55A3AF;
}
header a{
    color: white;
}
a{
    color: black;
}
.picture{
    margin-top: -70px;

}
.bodyindex{
    background-image: url("../img/adminlogo.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: white;

}
body{
    background-color: #FBF9F9;
    margin: 0;
    padding: 0;
}
.adlinlogo{
    height: 100px;
}