body{
    margin: 0;
    padding: 0;
    font-family: 'Skia', sans-serif;
}
.body{
    background-color: #FBF9F9;
}
.presentation{
    height: 250px;
    width: 30%;
}
.compagny{
    background-image: url("../img/toulouse.png");
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    margin-top: -10px;
}
@media(max-width: 425px){
    .compagny{
        background-size: 190px;
        height: 400px;
    }
    .presentation{
        height: 250px;
        width: 90%;
        font-size: 10px;
    }
}
@media(max-width: 768px){
    .presentation{
        height: 250px;
        width: 90%;
        font-size: 10px;
        margin: auto;
    }
    .compagny{
        background-size: 880px;
        height: 400px;
    }
}