body{
    margin: 0;
    padding: 0;
    font-family: 'Skia', sans-serif;
}
.body{
    background-color: #FBF9F9;
}
.subjectforum{
    height: 100px;
    font-family: 'Skia', sans-serif;
    background-color: white;
}
.blocktext{
    height: 150px;

}
.subject a{
    color: black;

}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
.forumcolor{
    height: 400px;

}
.header {
    position: fixed;
    top: 2;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.header h2 {
    text-align: center;
}

.progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;

}




@media(max-width: 425px){
    .newsubject{
        position: absolute;
        top: 600px;
    }
    .borderleft{
        margin-top: -60px;
    }

}
@media(max-width: 768px){

}