body{
    margin: 0;
    padding: 0;
    font-family: 'Skia', sans-serif;
    background-color: #FBF9F9;
}
.borderbutton a{
    color: black;
}
.borderbuttonOne{
    border: ridge 5px black;
    width: 150px;
    height: 60px;
}
.stock{
    height: 400px;
}
.etiquettes{
    width: 200px;
    height: 200px;
}
.category{
    background-color: white;
    margin-top: 90px;
    height: 150px;
}
.categoryquestion{
    margin-top: 70px;
}
.scan{
    width: 200px;
    height: 200px;
}
.checkbox{
    border-right: ridge 5px black;
}
.question a{
  color: black;
}
.question a:hover{
  text-decoration: none;
  color: black;
}
.categoryfaq{
  background-color: white;
  height: 100px;
}
.faq{
  background-image: url(../img/faq.jpg);
  background-size: 640px;
  height: 400px;
}
.borderbuttonfaq{
    border: ridge 5px black;
    width: 150px;
    height: 40px;
}
.border{
    border:ridge 5px black;
}
.end{
  margin-top: 370px;
  height: 90px;
}
.category{
  height: 250px;
}
nav a{
    color: black;
}
nav a:hover{
  text-decoration: none;
  color: black;
}
a{
    color: black;
}
.questionmargine{
    margin-top: 100px;
}
.question{
    width: 120px;
    height: 90px;
}
@media(max-width: 425px){
    .question{
        height: 300px;

    }
    .questionmargine{
        margin-top: 10px;
    }
    .category{
        height: 10px;
        margin-top: 0px;
    }
    .question{
        width: 200px;
        height: 200px;
    }

}
@media(max-width: 768px){
   .category{
       height: 300px;
   }
}